
  <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-10 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    <% @products.each do |product| %>
      <div class="group relative rounded-lg">
        <%= image_tag("https://www.custom-qamis.com/32478-home_default/qamis-emirati-tissu-precious-noir-satine-col-bahraini-.webp", alt:"Front of men&#039;s Basic Tee in black.", class: "aspect-square! w-full rounded-t-lg group-hover:opacity-75 bg-gray-200 object-cover lg:h-80") %>
        <div class="mt-4 lg:max-2xl:px-2 flex justify-between">
          <div>
            <h3 class="text-base! font-medium">
              <%= link_to product_path(product), class:"no-underline! text-gray-700!" do %>
                <span aria-hidden="true" class="absolute inset-0"></span>
                <%= product.name %>
              <% end %>
            </h3>
            <p class="mt-1 mb-0 text-base text-gray-500 italic"><%= product.category %></p>
            <p class="text-sm text-gray-500"><%= product.color %></p>
          </div>
          <p class="text-sm font-medium text-gray-900"><%= product.price %> €</p>
        </div>
      </div>
    <% end %>
  </div>
